<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC 
	"-//mybatis.org//Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	<mapper namespace="com.hxq.design.mapper.CustomerMapper">
	
	<insert id="insertintoUserinfo" parameterType="customer">
	insert into userinfo (userName,userPw,userSex,userPhone,userAddress,userEmail,userLevel) values(#{userName},#{userPw},#{userSex},#{userPhone},#{userAddress},#{userEmail},#{userLevel})
	</insert>
	<select id="selectInfoByUserUn" parameterType="customer" resultType="customer">
		select * from userinfo where userName=#{userName}
	</select>
	</mapper>
